// A list of Sass variables used in this project.
// Defer to Bootstrap and CTIP-UI variables when possible.

// Table
$otls-table-bg: rgb(0 0 0 / 0.03);
$light-text-color: #6c757d;
$card-background-color: #f8f9fa;
// shades
$primary: #007b78;

// button
$button-bg: #007b78;
$secondary-button-bg: #e4e7eb;
// text
$text-color: #495057;
$base-text: #495057;
$text-lighter: #6c757d;
$text-warning: #dc4935;

// errors
$error: rgb(220 73 53 / 0.08);
